
<div style="padding: 20px;">
  <p style="margin-bottom: 10px;">
    <%= @greeting %> <%= @user.first_name %>,
  </p>
  <p style="margin-bottom: 10px;">
   below is your password to login to your account.
  </p>
  <p style="margin-bottom: 10px;">
    <%= @password %>
  </p>
</div>

